    <html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Inter:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body class="theme-tavern page-display">
        <div class="help-container">
            <div class="help-icon">?</div>
            <div class="help-tooltip">
                <h3>⚔️ Timer Based Combat</h3>
                <ul>
                    <li><strong>Actions</strong>Actions work similar to turn based combat, on your move you can attack, use magic, or make any other move that normally counts as an action.</li>
                    <li><strong>Action Cooldowns</strong>The timers act as a cooldown for these actions. You may make your action anytime your timer is at 0, regardless of who's turn it is.</li>
                    <li><strong>Bonus Actions + Movement</strong>These are not tracked by the timer. You may use your bonus action and movement at any time once per action. Your bonus action and movement replenishes after making an action.</li>
                    <li><strong>Combos</strong>If 2+ players are at 0, they may combine their turns for a stat bonus at the DM's discretion.</li>
                    <li><strong>How to Control</strong>To use your timer, scan the QR code and click the timer that corresponds to your player. Reset your timer after you take an action.</li>
                    <li><strong>The Goal</strong>Is to reduce the time of combat and limit how often players have downtime between turns. Change any part of this to what fits your campaign.</li>
                    <li><strong>For the DM</strong>Use this tool at your leisure, Id recommend maintaining initiative as is to preserve class bonus and for full player sheets leaving about 60s between players, but you may change this as you are able to handle.</li>
                    <li><strong>Have Fun!</strong></li>
                </ul>
            </div>
        </div>

        <h1 style="text-align:center; padding:5px; font-family:'Cinzel', serif; font-size:56px; text-shadow:2px 2px 4px black; margin-top:10px; margin-bottom:0;">Attack Order</h1>

        <div id="timers" style="
            display:grid;
            grid-template-columns:repeat(3,1fr);
            gap:18px;
            padding:18px;
        "></div>
                                  
        <div style="text-align:center; margin-bottom:20px;">
            <div>Scan to control your timer</div>
            <img src="/qr" width="150">
        </div>  

        <script src="/static/js/display.js"></script>
    </body>
    </html>