    <html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Inter:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body class="theme-tavern page-display">

        <h1 style="text-align:center; padding:5px; font-family:'Cinzel', serif; font-size:56px; text-shadow:2px 2px 4px black; margin-top:10px; margin-bottom:0;">Attack Order</h1>

        <div id="timers" style="
            display:grid;
            grid-template-columns:repeat(3,1fr);
            gap:18px;
            padding:18px;
        "></div>
                                  
        <div style="text-align:center; margin-bottom:20px;">
            <div>Scan to control your timer</div>
            <img src="/qr" width="150">
        </div>  

        <script src="/static/js/display.js"></script>
    </body>
    </html>